@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn Base Styles */
.btn {
  position: relative;
  width: 56px;
  height: 56px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 50%;
  outline: transparent;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s;
}

/* .btn Default Styles */
.btn {
  --hue: 192;
  background-color: hsl(var(--hue), 43%, 50%);
  border-color: hsl(var(--hue), 100%, 41%);
}

.btn:hover {
  background: hsl(var(--hue), 60%, 60%);
}

/* .btn-primary Styles */
.btn-primary {
  --hue: 192;
}

/* .btn-ghost Styles */
.btn-ghost {
  --hue: 192;
  color: hsl(var(--hue), 100%, 41%);
  border-color: hsl(var(--hue), 60%, 70%);
}

.btn-ghost:hover {
  color: white;
}

/* .btn-shine Styles */
.btn-shine {
  --hue: 192;
  color: white;
}

.btn-shine::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    hsla(var(--hue), 100%, 41%, 0.5),
    transparent
  );
  transform: translateX(-100%);
  transition: 0.6s;
}

.btn-shine:hover {
  box-shadow: 0 0 20px 10px hsla(var(--hue), 100%, 41%, 0.5);
}

.btn-shine:hover::before {
  transform: translateX(100%);
}

.backface-hidden {
  backface-visibility: hidden;
}

/* Custom CSS for flip card */
.card-container {
  position: absolute;

  top: 33%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.the-card {
  /* position: absolute; */
  width: 175px;
  height: 175px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;

  font-size: 2rem;
}

.the-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #ffc728;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.the-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: blue;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*End of  Custom CSS for flip card */

/* Custom CSS for 3D Cube */

.cube-container {
  position: absolute;

  top: 33%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.cube-area {
  position: relative;
  transform-style: preserve-3d;
}

.cube-area .cube {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 2px solid #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.cube-area .cube.cube-front {
  transform: translateX(-75px) translateY(-75px) translateZ(75px);
  background: rgba(255, 16, 107, 0.5);
}

.cube-area .cube.cube-back {
  transform: translateX(-75px) translateY(-75px) translateZ(-75px);
  background: rgba(1, 251, 236, 0.5);
}

.cube-area .cube.cube-right {
  transform: translateY(-75px) rotateY(90deg);
  background: rgba(4, 255, 116, 0.5);
}

.cube-area .cube.cube-left {
  transform: translateY(-75px) translateX(-150px) rotateY(90deg);
  background: rgba(216, 255, 0, 0.5);
}

.cube-area .cube.cube-top {
  transform: translateX(-75px) translateY(-150px) rotateX(90deg);
  background: rgba(0, 6, 246, 0.5);
}

.cube-area .cube.cube-bottom {
  transform: translateX(-75px) rotateX(90deg);
  background: rgba(255, 30, 0, 0.5);
}
/* End of Custom CSS for 3D Cube */
